html,
#body {
    background-color: lightgray;
}

#header {
    margin-bottom: 40px;
}


/* column-count:3; bagi text jadi 3 kotak */

.myClass {
    margin-top: 100px;
    padding: 20px;
    padding-right: 90px;
    /*border-left-style: solid;
    border-left-width: 5px;
    border-color: black;*/
    background-color: white;
    max-height: 70px;
    outline-color: white;
    /*text  */
    /*letter-spacing: 10px;*/
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: -2;
}

.Mychild {
    position: relative;
    border-style: double;
    width: 100%;
    height: 100%;
    border: 10px solid
}

.myClass label {
    color: orange;
    line-height: 20px;
}

.container {
    padding: 10px;
    margin: 10px;
}


}
.menu {
    float: right;
}
.menu ul li {
    display: inline;
    /*sejajar */
    
    background-color: orange;
    margin-left: 5px;
    padding: 15px;
    float: right;
}
.menu ul a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 5px 10px 1px;
}
.menu ul li a:hover {
    color: red;
}
#footer {
    text-align: right;
}
.flexcontainer {
    display: flex;
}
.flexitem {
    margin: 10px;
    background-color: lightsalmon;
    width: 100px;
    height: 100px;
}
*/