html {
    font-size: 12px;
}

body {
    background-color: gainsboro;
}

#body {
    background-color: whitesmoke;
    margin-top: 50px;
}

.container {
    padding: 10px;
    margin: 10px;
}

.header {
    margin-bottom: 30px;
}

.menu {
    display: inline;
    float: right;
}

.menu ul li {
    display: inline;
}

.menu ul li:hover {
    background-color: black;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px;
}

.menu ul li a:hover {
    color: red;
}

#footer {
    float: right;
    text-align: left;
    font-size: 1em;
}

.flexcontainer {
    display: flex;
}

.flexitem {
    margin: 10px;
    background-color: lightseagreen;
    width: 300px;
    height: 500px;
}

.flexitem:hover {
    transform: rotate(45deg);
}